@if (DataIsNotAvaiable)
{
    <h3>Loading</h3><img src="https://flevix.com/wp-content/uploads/2019/07/Curve-Loading.gif"/>
}
else
{
    @Body
}

@code {

    [Parameter]
    public RenderFragment Body { get; set; }

    [Parameter]
    public bool DataIsNotAvaiable { get; set; } = false;

}
