<div 
    class="rounded border text-center
    @(Date.Month!=SelectedDate.Month?"bg-secondary ": "bg-light hover-shadow" + (Date == SelectedDate ? "border-dark ": Date == DateTime.Today ? "border-primary":""))"
    style="width: 100%; min-height: 100px;border: grey;"
    @onclick="()=>Onclick(Date)">
    <label>@Date.Day</label> 
    @Template(Date)
</div>

@code {
    [Parameter]
    public RenderFragment<DateTime> Template { get; set; }
    [Parameter]
    public DateTime Date { get; set; }
    [Parameter]
    public DateTime SelectedDate { get; set; }
    [Parameter]
    public Action<DateTime> Onclick { get; set; }
}
