<footer class="footer align-items-end">
    <h2>Contact Us</h2>
    <div class="footer-items">
        <div class="left-side">
            <ul>
                <li><i class="fa fa-map-marker" aria-hidden="true"></i>12, Random Street, New York</li>
                <li><i class="fa fa-phone" aria-hidden="true"></i>12345678</li>
                <li><i class="fa fa-map-envelope" aria-hidden="true"></i>mail@hotmail.com</li>
            </ul>
        </div>
        <div class="social-media">
            <a href=""><i class="fa fa-facebook" aria-hidden="true"></i></a>
            <a href=""><i class="fa fa-twitter" aria-hidden="true"></i></a>
            <a href=""><i class="fa fa-instagram" aria-hidden="true"></i></a>
            <a href=""><i class="fa fa-google-plus" aria-hidden="true"></i></a>
        </div>
    </div>
    <div class="footer-bottom">
        Copyright &copy; Energinet 2020 Anders Lund Jungdal og Henrik Langer Hallenberg
    </div>
</footer>

@code {

}
