@page "/"
@using Grid;
@using Syncfusion.Blazor.TreeGrid.Internal
@using System.Security.Cryptography.X509Certificates
@using Syncfusion.Blazor.DocumentEditor
<div>
    <a href="https://energinet.dk/Gron-omstilling">
        <img src="https://energinet.dk/-/media/DBC85CA356964C489DFD2A158864E4ED.jpg" style="padding: 0; max-width: 100%"/>
    </a>
</div>